.pure-cookies-notice-edit-container .form-group.has-counter {
  position: relative;
}
.pure-cookies-notice-edit-container .form-group input.has-counter {
  padding-right: 50px;
}
.pure-cookies-notice-edit-container .form-group .remaining-counter {
  position: absolute;
  bottom: 8px;
  right: 40px;
  color: #ababab;
}
.pure-cookies-notice-edit-container .form-group .remaining-counter.few {
  color: #ff9800;
}
.pure-cookies-notice-edit-container .form-group .remaining-counter.zero {
  color: #e00000;
}
