/**
 * Pure/CookiesNotice
 * Author: Vladimir S. <guyasyou@gmail.com>
 * www.pure-web.ru
 * © 2017
 */
.pure-cookies-notice-wrapper {
  position: fixed;
  z-index: 1000;
  background: rgba(0, 40, 136, 0.8);
  color: #fff;
}
.pure-cookies-notice-wrapper.top {
  top: 0;
  left: 0;
  right: 0;
}
.pure-cookies-notice-wrapper.top.has-toolbar {
  top: 48px;
}
.pure-cookies-notice-wrapper.bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
.pure-cookies-notice-wrapper .pure-cookies-notice-container {
  max-width: 990px;
  padding: 12px;
  margin: 0 auto;
}
.pure-cookies-notice-wrapper .pure-cookies-notice-container .pure-cookies-notice-title {
  font-size: 14px;
}
.pure-cookies-notice-wrapper .pure-cookies-notice-container .pure-cookies-notice-content {
  font-size: 12px;
}
.pure-cookies-notice-wrapper .pure-cookies-notice-container .pure-cookies-notice-content a {
  color: #fff;
  text-decoration: underline;
}
.pure-cookies-notice-wrapper .pure-cookies-notice-container .pure-cookies-notice-content a:hover {
  color: #e6e6e6;
}
.pure-cookies-notice-wrapper .pure-cookies-notice-container .pure-cookies-notice-content a:active,
.pure-cookies-notice-wrapper .pure-cookies-notice-container .pure-cookies-notice-content a:focus {
  color: #cccccc;
}
.pure-cookies-notice-wrapper .pure-cookies-notice-container .pure-cookies-notice-close-button {
  font-size: 14px;
  display: inline-block;
  padding: 4px 14px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
}
.pure-cookies-notice-wrapper .pure-cookies-notice-container .pure-cookies-notice-close-button:hover {
  color: #e6e6e6;
  border-color: #e6e6e6;
  cursor: pointer;
}
.pure-cookies-notice-wrapper .pure-cookies-notice-container .pure-cookies-notice-close-button:active,
.pure-cookies-notice-wrapper .pure-cookies-notice-container .pure-cookies-notice-close-button:focus {
  color: #cccccc;
  border-color: #cccccc;
}
.pure-cookies-notice-wrapper .pure-cookies-notice-container .clearfix {
  clear: both;
}
